<div class="container-fluid pt-4 px-4">
    <h2 class="mb-3 text-center">Your Bookings</h2>
    <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <a href="">Show All</a>
      </div>
      <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
          <thead>
            <tr class="text-uppercase">
              <th scope="col"><strong>Name</strong> </th>
              <th scope="col">Bus Name</th>
              <th scope="col">Departure Date</th>
              <th scope="col">Arrival Date</th>
              <th scope="col">No. of People</th>
              <th scope="col">Phone</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% allBook.forEach(el => { %>
            <tr>
              <td><%= el.name %></td>
              <td><%= el.user.title %></td>
              <td><%= el.departure.toLocaleString() %></td>
              <td><%= el.arrival.toLocaleString() %></td>
              <td><%= el.peoples %></td>
              <td><%= el.phone %></td>
              <td>
                
                <div class="d-flex justify-content-between">
                  <% if (el.status) { %>
                    <button class="btn btn-success" disabled>Accepted</button>   
                  <% } else { %>
                    <a class="btn btn-success" href="/admin/acceptbook/<%= el._id %>">Accept</a>
                  <% } %>
                  <a class="btn btn-danger" href="/admin/deletebook/<%= el._id %>">Cancel</a>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- Recent Sales End -->
  
  <!-- <script>
    function deletebtn() {
      alert('Are you sure you want to delete this booking?');
    }
  </script> -->
  