
  

<div class="card col-md-12 mx-3 mb-4">
    <h4 class="text-center mt-3">Booking  Status</h4><hr>
     <div class="card-body">
       <h6 class="card-title">NAME:<%=books.name %> </h6>
       <h6 class="card-title">EMAIL:<%= books.email %> </h6>
       <h6 class="card-title">Departure:<%= books.departure %> </h6>
       <h6 class="card-title">Arrival:<%= books.arrival %> </h6>
       <h6 class="card-title">No.of people:<%= books.peoples %> </h6>
       <h6 class="card-title">PHONE:<%= books.phone %> </h6>
       
       <br>
       <button class="text-success fw-bold" style="font-family: fantasy;">Request for payments</button>
      
     </div>
   </div>
   